#container {
    position: absolute;
    height: 800px;
    width: 1200px;
    border: 2px solid violet;
    perspective: 600px;
    overflow: hidden;
}

#world {
    position: absolute;
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
    /* transform: translate3d(500px, 300px, 0px); */
}